# Exemplo de Consulta a API do IBGE

In [151]:
!pip install requests
import pandas as pd
import requests

Requirement already satisfied: requests in c:\users\romul\appdata\local\programs\python\icr-identify-age-related-conditions\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\romul\appdata\local\programs\python\icr-identify-age-related-conditions\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\romul\appdata\local\programs\python\icr-identify-age-related-conditions\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\romul\appdata\local\programs\python\icr-identify-age-related-conditions\lib\site-packages (from requests) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\romul\appdata\local\programs\python\icr-identify-age-related-conditions\lib\site-packages (from requests) (2023.11.17)

In [152]:

nome_consulta = 'PNAD_5932'
# Link obtido atravez do https://servicodados.ibge.gov.br/api/docs/agregados?versao=3#api-bq query builder
pnad_url = "https://servicodados.ibge.gov.br/api/v3/agregados/4662/periodos/2012|2013|2014|2015|2016|2017|2018|2019|2020|2021|2022|2023/variaveis/5932?localidades=N3[all]&classificacao=888[47946]"

response = requests.get(pnad_url)

# Verificando erro na requisição
if response.status_code == 200:
    pnad_data = response.json()

    # Extract the relevant parts of the JSON structure
    results = pnad_data[0]['resultados']
    extracted_data = []
    for result in results:
        for serie in result['series']:
            row = {
                'Categoria': result['classificacoes'][0]['categoria']['47946'],#Codigo da categoria
                'Localidade': serie['localidade']['nome'],
                'Nivel': serie['localidade']['nivel']['nome'],
                'Valor': serie['serie']['2022'],
                'Unidade': pnad_data[0]['unidade'],
                'Variavel': pnad_data[0]['variavel']
            }
            extracted_data.append(row)

    # Convert the extracted data into a DataFrame
    df = pd.DataFrame(extracted_data)
    print(df)

else:
    print(f"Failed to fetch data. Status code: {response.status_code}")

   Categoria           Localidade                 Nivel Valor Unidade  \
0      Total             Rondônia  Unidade da Federação  2400   Reais
1      Total                 Acre  Unidade da Federação  2294   Reais
2      Total             Amazonas  Unidade da Federação  2035   Reais
3      Total              Roraima  Unidade da Federação  2606   Reais
4      Total                 Pará  Unidade da Federação  1917   Reais
5      Total                Amapá  Unidade da Federação  2387   Reais
6      Total            Tocantins  Unidade da Federação  2475   Reais
7      Total             Maranhão  Unidade da Federação  1671   Reais
8      Total                Piauí  Unidade da Federação  1886   Reais
9      Total                Ceará  Unidade da Federação  1814   Reais
10     Total  Rio Grande do Norte  Unidade da Federação  2213   Reais
11     Total              Paraíba  Unidade da Federação  1923   Reais
12     Total           Pernambuco  Unidade da Federação  1837   Reais
13     Total              Alagoas  Unidade da Federação  1796   Reais
14     Total              Sergipe  Unidade da Federação  1977   Reais
15     Total                Bahia  Unidade da Federação  1689   Reais
16     Total         Minas Gerais  Unidade da Federação  2355   Reais
17     Total       Espírito Santo  Unidade da Federação  2675   Reais
18     Total       Rio de Janeiro  Unidade da Federação  3258   Reais
19     Total            São Paulo  Unidade da Federação  3329   Reais
20     Total               Paraná  Unidade da Federação  2957   Reais
21     Total       Santa Catarina  Unidade da Federação  3108   Reais
22     Total    Rio Grande do Sul  Unidade da Federação  3004   Reais
23     Total   Mato Grosso do Sul  Unidade da Federação  3051   Reais
24     Total          Mato Grosso  Unidade da Federação  2932   Reais
25     Total                Goiás  Unidade da Federação  2588   Reais
26     Total     Distrito Federal  Unidade da Federação  4487   Reais

                                             Variavel
0   Rendimento médio mensal real das pessoas de 14...
1   Rendimento médio mensal real das pessoas de 14...
2   Rendimento médio mensal real das pessoas de 14...
3   Rendimento médio mensal real das pessoas de 14...
4   Rendimento médio mensal real das pessoas de 14...
5   Rendimento médio mensal real das pessoas de 14...
6   Rendimento médio mensal real das pessoas de 14...
7   Rendimento médio mensal real das pessoas de 14...
8   Rendimento médio mensal real das pessoas de 14...
9   Rendimento médio mensal real das pessoas de 14...
10  Rendimento médio mensal real das pessoas de 14...
11  Rendimento médio mensal real das pessoas de 14...
12  Rendimento médio mensal real das pessoas de 14...
13  Rendimento médio mensal real das pessoas de 14...
14  Rendimento médio mensal real das pessoas de 14...
15  Rendimento médio mensal real das pessoas de 14...
16  Rendimento médio mensal real das pessoas de 14...
17  Rendimento médio mensal real das pessoas de 14...
18  Rendimento médio mensal real das pessoas de 14...
19  Rendimento médio mensal real das pessoas de 14...
20  Rendimento médio mensal real das pessoas de 14...
21  Rendimento médio mensal real das pessoas de 14...
22  Rendimento médio mensal real das pessoas de 14...
23  Rendimento médio mensal real das pessoas de 14...
24  Rendimento médio mensal real das pessoas de 14...
25  Rendimento médio mensal real das pessoas de 14...
26  Rendimento médio mensal real das pessoas de 14...

In [153]:
df

,Categoria,Localidade,Nivel,Valor,Unidade,Variavel
0,Total,Rondônia,Unidade da Federação,2400,Reais,Rendimento médio mensal real das pessoas de 14...
1,Total,Acre,Unidade da Federação,2294,Reais,Rendimento médio mensal real das pessoas de 14...
2,Total,Amazonas,Unidade da Federação,2035,Reais,Rendimento médio mensal real das pessoas de 14...
3,Total,Roraima,Unidade da Federação,2606,Reais,Rendimento médio mensal real das pessoas de 14...
4,Total,Pará,Unidade da Federação,1917,Reais,Rendimento médio mensal real das pessoas de 14...
5,Total,Amapá,Unidade da Federação,2387,Reais,Rendimento médio mensal real das pessoas de 14...
6,Total,Tocantins,Unidade da Federação,2475,Reais,Rendimento médio mensal real das pessoas de 14...
7,Total,Maranhão,Unidade da Federação,1671,Reais,Rendimento médio mensal real das pessoas de 14...
8,Total,Piauí,Unidade da Federação,1886,Reais,Rendimento médio mensal real das pessoas de 14...
9,Total,Ceará,Unidade da Federação,1814,Reais,Rendimento médio mensal real das pessoas de 14...
10,Total,Rio Grande do Norte,Unidade da Federação,2213,Reais,Rendimento médio mensal real das pessoas de 14...
11,Total,Paraíba,Unidade da Federação,1923,Reais,Rendimento médio mensal real das pessoas de 14...
12,Total,Pernambuco,Unidade da Federação,1837,Reais,Rendimento médio mensal real das pessoas de 14...
13,Total,Alagoas,Unidade da Federação,1796,Reais,Rendimento médio mensal real das pessoas de 14...
14,Total,Sergipe,Unidade da Federação,1977,Reais,Rendimento médio mensal real das pessoas de 14...
15,Total,Bahia,Unidade da Federação,1689,Reais,Rendimento médio mensal real das pessoas de 14...
16,Total,Minas Gerais,Unidade da Federação,2355,Reais,Rendimento médio mensal real das pessoas de 14...
17,Total,Espírito Santo,Unidade da Federação,2675,Reais,Rendimento médio mensal real das pessoas de 14...
18,Total,Rio de Janeiro,Unidade da Federação,3258,Reais,Rendimento médio mensal real das pessoas de 14...
19,Total,São Paulo,Unidade da Federação,3329,Reais,Rendimento médio mensal real das pessoas de 14...
20,Total,Paraná,Unidade da Federação,2957,Reais,Rendimento médio mensal real das pessoas de 14...
21,Total,Santa Catarina,Unidade da Federação,3108,Reais,Rendimento médio mensal real das pessoas de 14...
22,Total,Rio Grande do Sul,Unidade da Federação,3004,Reais,Rendimento médio mensal real das pessoas de 14...
23,Total,Mato Grosso do Sul,Unidade da Federação,3051,Reais,Rendimento médio mensal real das pessoas de 14...
24,Total,Mato Grosso,Unidade da Federação,2932,Reais,Rendimento médio mensal real das pessoas de 14...
25,Total,Goiás,Unidade da Federação,2588,Reais,Rendimento médio mensal real das pessoas de 14...
26,Total,Distrito Federal,Unidade da Federação,4487,Reais,Rendimento médio mensal real das pessoas de 14...

In [155]:
df.to_csv(f'consulta_{nome_consulta}.csv', index=False)